<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/master.html}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <title>DPR - Create Citizen</title>
  </head>
  <body>
  	 <section layout:fragment="content">
		 	<div class="col-lg-12 col-md-12 col-sm-6" style="margin-top: 20px">
		 	 <h5 class="mb-1">Create New Citizen here :</h5>
	         <a th:href="@{/citizen/list}" class="btn btn-success" style="float: right;">List Citizen</a>
	         <div style="padding-top:20px; margin-top:15px;">
	         	<hr>
	         	<form th:action="@{/citizen/save}" method="post" th:object="${citizen}">
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="ssn">SSN Number</label>&nbsp;
				      <span class="error" th:if="${#fields.hasErrors('socialSecurityNumber')}" th:errors="*{socialSecurityNumber}"></span>
				      <input type="text" class="form-control" name="socialSecurityNumber" id="ssn" th:value="${citizen.socialSecurityNumber}" placeholder="SSN Number" required>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="firstName">First Name</label>&nbsp;
				      <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				      <input type="text" class="form-control" name="firstName" id="firstName" th:value="${citizen.firstName}" placeholder="First Name" required>
				    </div>
				  </div>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="middleName">Middle Name</label>
				      <input type="text" class="form-control" name="middleName" id="middleName" th:value="${citizen.middleName}" placeholder="Middle Name">
				    </div>
				    <div class="form-group col-md-6">
				      <label for="lastName">Last Name</label>&nbsp;
				      <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				      <input type="text" class="form-control" name="lastName" id="lastName" th:value="${citizen.lastName}" placeholder="Last Name" required>
				    </div>
				  </div>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="dob">Date of Birth</label>&nbsp;
				      <span class="error" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"></span>
				      <input type="date" class="form-control" name="dateOfBirth" id="dob" th:value="${citizen.dateOfBirth}" placeholder="Date of Birth" required>
				    </div>
				    <div class="form-group col-md-6">
				      <label for="income">Yearly Income</label>
				      <span class="error" th:if="${#fields.hasErrors('yearlyIncome')}" th:errors="*{yearlyIncome}"></span>
				      <input type="number" step=".01" class="form-control" name="yearlyIncome" id="income" th:value="${citizen.yearlyIncome}" placeholder="Yearly Income" required>
				    </div>
				  </div>
				  <div class="form-row">
				    <div class="form-group col-md-6">
				      <label for="income">Choose State</label>
				      <select th:field="*{state}" class="form-control" required>
				      	<option th:each="st : ${states}" th:value="${st.stateId}" th:text="${st.stateCode + ' - ' + st.stateName}"></option>
				      </select>
				    </div>
				  </div>
				  
				  <button type="submit" class="btn btn-primary">Save</button>
				</form>
	         </div>
		 	</div>
  	 </section>
	
</body>
</html>